@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-gradient {
  height: 24px;
  width: 24px;
  background: radial-gradient(ellipse at top right, var(--tw-gradient-stops));
  -webkit-mask-image: url(../../public/rss-solid.svg);
  mask-image: url(../../public/rss-solid.svg);
  background-repeat: no-repeat;
}
